---
import Layout from "../layouts/Layout.astro";
import MyPost, { frontmatter, Content } from "../content/complex.mdx";

function formatDate(date: Date): String {
    const options: any = {
        weekday: "short",
        year: "numeric",
        month: "short",
        day: "numeric",
    };
    return new Date(date).toLocaleDateString("en-de", options);
};

function getLanguageDescription(languageCode: string): string {
  const languageMap: Record<string, string> = {
    en: "This content is in English.",
    tr: "This content is in Turkish.",
    de: "This content is in German.",
    // ... add more languages here
  };

  return languageMap[languageCode] ?? "";
}
---

<Layout>
    <div class="main markdown">
        {
            frontmatter?.visibility && (
                <article class="article content">
                    <div class="article-meta">
                        <h1>{frontmatter.title}</h1>
                        <span>
                            Published : {formatDate(frontmatter.created)}
                        </span>
                        <span>Revision : {formatDate(frontmatter.updated)}, v{frontmatter.revision} </span>
                        <span>Language : {getLanguageDescription(frontmatter.language)} </span>
                        <a
                            href="#"
                            class="to-pdf"
                        />
                        <img
                            src=""
                            alt=""
                        />
                    </div>
                    <Content />
                </article>
            )
        }
    </div>
</Layout>

<style>
    @import "../styles/markdown.css";
</style>
